<div class="row mb-3 align-items-center justify-content-between">
  <div class="col-md-auto col-sm-auto">
    <div class="section-title">
      <h2>Kepegawaian</h2>
    </div>
  </div>
  <div class="col-md-auto col-sm-auto">
    <h4 class="widget-title">
      <button
        class="btn btn-success btn-sm m-right-10"
        (click)="openModal()"
      >
        <i class="las la-plus"></i>
        Tambah Pegawai
      </button>
    </h4>
  </div>
</div>

<div class="row align-items-end justify-content-center mb-4">
  <div class="col-md-auto col-sm-auto chart-wrapper">
    <ngx-charts-bar-vertical
      [results]="golTerakhirSingle"
      legendTitle="Golongan Terakhir"
      [legendPosition]="'below'"
      [legend]="true"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabelGol"
      [yAxisLabel]="yAxisLabelGol"
    >
    </ngx-charts-bar-vertical>
  </div>
  <div class="col-md-auto col-sm-auto chart-wrapper">
    <ngx-charts-bar-vertical
      [results]="jabFungsiSingle"
      legendTitle="Jabatan Fungsi Terakhir"
      [legendPosition]="'below'"
      [legend]="true"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabelJab"
      [yAxisLabel]="yAxisLabelJab"
    >
    </ngx-charts-bar-vertical>
  </div>
</div>

<!-- Your Angular Component Template  <button style="white-space: pre" (click)="importExcel()">Import File</button> -->
<input type="file" (change)="onFileChange($event)" />
<button
        class="btn btn-success btn-sm m-right-10"
        (click)="importExcel()"
      >
        Import File 
      </button>

<button
        class="btn btn-success btn-sm m-right-10"
        (click)="exportAsExcelFile()"
      >
        Export File 
      </button>
<br><br>

<div class="mat-elevation-z8">
  <div
    class="table-container"
    style="max-width: 100%; overflow-x: auto"
  >
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="nip">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          NIP
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.nip }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nama">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Nama
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.nama }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status_kepegawaian">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Status Kepegawaian
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.status_kepegawaian }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tempat_lahir">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Tempat Lahir
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.tempat_lahir }}
        </td>
      </ng-container>

      <ng-container matColumnDef="jenis_kelamin">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Jenis Kelamin
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.jenis_kelamin }}
        </td>
      </ng-container>

      <ng-container matColumnDef="alamat">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Alamat
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.alamat }}
        </td>
      </ng-container>

      <ng-container matColumnDef="telp_darurat">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Telp Darurat
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.telp_darurat }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pendidikan">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Pendidikan
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.pendidikan }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status_pernikahan">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Status Pernikahan
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.status_pernikahan }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nidn">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          NIDN
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.nidn }}
        </td>
      </ng-container>

      <ng-container matColumnDef="no_serdos">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          No Serdos
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.no_serdos }}
        </td>
      </ng-container>

      <ng-container matColumnDef="gol_terakhir">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Golongan
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.gol_terakhir }}
        </td>
      </ng-container>

      <ng-container matColumnDef="jab_fungsi_terakhir">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Jabatan
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.jab_fungsi_terakhir }}
        </td>
      </ng-container>

      <ng-container matColumnDef="no_bpjs">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          BPJS
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.no_bpjs }}
        </td>
      </ng-container>

      <ng-container matColumnDef="no_npwp">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          NPWP
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.no_npwp }}
        </td>
      </ng-container>

      <ng-container matColumnDef="no_paspor">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="white-space: nowrap; min-width: 160px"
        >
          Paspor
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="white-space: nowrap; min-width: 160px"
        >
          {{ row.no_paspor }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>

  <!-- <mat-paginator
    [length]="dataDosen.totalData"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
  ></mat-paginator> -->
</div>

<!-- Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: display }"
>
  <div
    class="modal-dialog"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Tambah Pegawai</h1>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="onCloseHandled()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-modal">
        <form>
          <div class="mb-3">
            <label
              for="namaDosenPegawai"
              class="form-label"
              >Nama Dosen atau Pegawai</label
            >
            <input
              type="text"
              class="form-control"
              id="namaDosenPegawai"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label
              for="nipDosenPegawai"
              class="form-label"
              >NIP Dosen atau Pegawai</label
            >
            <input
              type="text"
              class="form-control"
              id="nipDosenPegawai"
            />
          </div>
          <div class="mb-3">
            <label
              for="statusKepegawaian"
              class="form-label"
              >Status Kepegawaian</label
            >
            <select
              class="form-control"
              aria-label="Status Kepegawaian"
              id="statusKepegawaian"
            >
              <option selected>--Pilih status--</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="mb-3">
            <label
              for="tempatLahir"
              class="form-label"
              >Tempat Lahir</label
            >
            <input
              type="text"
              class="form-control"
              id="tempatLahir"
            />
          </div>
          <div class="mb-3">
            <label
              for="tanggalLahir"
              class="form-label"
              >Tanggal Lahir</label
            >
            <input
              type="date"
              class="form-control"
              id="tanggalLahir"
            />
          </div>
          <div class="mb-3">
            <label
              for="jenisKelamin"
              class="form-label"
              >Jenis Kelamin</label
            >
            <select
              class="form-control"
              aria-label="Status Kepegawaian"
              id="jenisKelamin"
            >
              <option selected>--Jenis kelamin--</option>
              <option value="male">Laki-laki</option>
              <option value="female">Perempuan</option>
            </select>
          </div>
          <div class="mb-3">
            <label
              for="alamat"
              class="form-label"
              >Alamat</label
            >
            <input
              type="text"
              class="form-control"
              id="alamat"
            />
          </div>
          <div class="mb-3">
            <label
              for="teleponDarurat"
              class="form-label"
              >Nomor Telepon Darurat</label
            >
            <input
              type="text"
              class="form-control"
              id="teleponDarurat"
            />
          </div>
          <div class="mb-3">
            <label
              for="nidn"
              class="form-label"
              >NIDN</label
            >
            <input
              type="text"
              class="form-control"
              id="nidn"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary"
          >
            Submit
          </button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          (click)="onCloseHandled()"
        >
          Close
        </button>
      </div> -->
    </div>
  </div>
</div>
